/********** TEXTS **********/

/** Html Body **/
body {
	margin: 0;
	padding: 0;
	font-family: Segoe UI, Helvetica, sans-serif;
}

/** First Headline **/
h1 {
	padding-left: 20px;
	padding-right: 20px;
	color: #B4DC00;
	font-size: 42px;
	font-weight: bold;
}

/** Second Headline **/
h2 {
	padding-left: 20px;
	padding-right: 20px;
	color: #B4DC00;
	font-size: 36px;
	font-weight: normal;
}

/** Text Paragraph **/
p {
	padding-left: 20px;
	padding-right: 20px;
	color: #444444;
	font-size: 24px;
}

/** Separation Line **/
hr {
	height: 3px;
	border: 0;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #C8F000;
}

/** Text Selection **/
::-moz-selection: {
	background: rgba(0, 0, 0, 0.15);
}

::selection {
	background: rgba(0, 0, 0, 0.15);
}

/** Text Section **/
#main {
	padding-top: 80px;
}

/********** MENU BAR **********/

/** Menu Bar **/
#menu-bar {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	height: 80px;
	padding-left: 100px;
	
	background-color: #C8F000;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 10px 0px;
	color: #FFFFFF;
	
	font-size: 42px;
	text-shadow: 3px 3px #B4DC00;
	text-align: left;
}

/** Icon **/
.icon {
	position: fixed;
	display: block;	
	width: 80px;
	height: 80px;
	
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

.icon:hover {
	filter: brightness(95%);
}

/** Menu Icon **/
#menu {
	left: 0;
	background-image: url(../images/menu.svg);
}

/** Search Icon **/
#search {
	right: 10px;
	background-image: url(../images/search.svg);
}

/********** SIDE NAVIGATION **********/

/** Side Navigation **/
#side-navigation {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	
	overflow-x: hidden;
	width: 0;
	height: 100%;
	padding-top: 140px;
	transition: 0.5s;
	
	background-color: #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.25) 8px 0px 10px 0px;
}

/** Side Navigation Title **/
#side-navigation div {
	position: fixed;
	top: 0;
	left: 0;
	
	overflow-x: hidden;
	width: inherit;
	height: 120px;
	min-height: 50px;
	
	background-color: #C8F000;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 10px 0px;
	color: #FFFFFF;
	
	font-size: 36px;
	text-shadow: 3px 3px #B4DC00;
}

/** Settings Icon **/
#settings {
	position: absolute;
	top: 1vh;
	right: 0;
	
	width: 60px;
	height: 60px;
	background-image: url(../images/settings.svg);
}

/** Side Navigation Entry **/
#side-navigation a {
	display: block;
	padding-left: 30px;
	transition: 0.3s;
	
	color: #444444;
	font-size: 24px;
	text-decoration: none;
}

#side-navigation a:hover {
	font-weight: bold;
	text-shadow: 3px 3px #DDDDDD;
}

#side-navigation hr {
	height: 1px;
	border: 0;
	margin-left: 15px;
	margin-right: 15px;
	background-color: #DDDDDD;
}

/********** QR-SCANNING **********/

/** QR-Code Scanner Icon **/
#qr-scanner {
	z-index: 2;
	bottom: 10%;
	right: 10%;
	
	width: 100px;
	height: 100px;
	
	background-image: url(../images/qr_scanner.svg);
	filter: drop-shadow(rgba(0, 0, 0, 0.25) 8px 8px 10px);
}

#qr-scanner:hover {
	filter: drop-shadow(rgba(0, 0, 0, 0.4) 8px 8px 10px);
}

/********** FOOTER **********/

/** Footer **/
footer {
	top: 0;
	left: 0;
	
	width: 100%;
	height: 0;
	min-height: 100px;
	background-color: #DDDDDD;
}

footer #side-info {
	position: relative;
	font-size: 14px;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer h3 {
	color: #444444;	
}

footer a {
	color: #444444;
	font-size: 18px;
	text-decoration: none;
}
